@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/Estilos.css">
<body>
    <div id="particles-js"></div>
   <div class="text-center">
    <h1 class="display-4">Bienvenidos a Mascota Feliz </h1>
    
   
</div> 
<script src="~/js/JS/particles.js"></script>
<script src="~/js/JS/app.js"></script>
</body>

