@page
@model MascotaFeliz.App.Frontend.Pages.EditarDuenoModel
@{
    int duenoId = Model.dueno.Id;
}
<h2 class="propietarios"> Registro de Propietarios </h2>
@* 
<form method="post">
    <div class="form group">
        <input type="hidden" asp-for="dueno.Id" />
        <label asp-for="dueno.Nombres"></label>
        <input asp-for="dueno.Nombres" class="form-control">
        <label asp-for="dueno.Apellidos"></label>
        <input asp-for="dueno.Apellidos" class="form-control">
        <label asp-for="dueno.Direccion"></label>
        <input asp-for="dueno.Direccion" class="form-control">
        <label asp-for="dueno.Telefono"></label>
        <input asp-for="dueno.Telefono" class="form-control">
        <label asp-for="dueno.Correo"></label>
        <input asp-for="dueno.Correo" class="form-control">

        <button type="sbmit" class="btnn btn-primary">Grabar</button>
    </div>
</form>

<a asp-page="./listaDuenos" class="btn-default">Lista de Dueños </a> *@
@* ///////////////////////////////////////////////////////////////////////////////////////// *@


<form method="post">
    <div id="particles-js"></div>
    <section class="registro">
        <div class="formulario">
            <h4>Formulario de Registro</h4>
            <input type="hidden" asp-for="dueno.Id" />
            <input class="controls" asp-for="dueno.Nombres" placeholder="Nombres">
            <input class="controls" asp-for="dueno.Apellidos" placeholder="Apellidos">
            <input class="controls" asp-for="dueno.Direccion" placeholder="Direccion">
            <input class="controls" asp-for="dueno.Telefono" placeholder="Telefono">
            <input class="controls"  asp-for="dueno.Correo" placeholder="Correo">


            <button type="submit" class="boton">Registrar</button>

        </div>
    </section>
</form>
<script src="~/js/JS/particles.js"></script>
<script src="~/js/JS/app.js"></script>
<a asp-page="./listaDuenos" class="btn-default">Lista de Dueños </a>