<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Registro Propietario </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Estilos.css" />

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    
</head>

<body>
   
    <header>
        <nav class="nav">
            <ul class="menu-list">
                <li class="list-items"><a href="~/../../../Pages/Shared/_Layout.cshtml" class="botones">Inicio</a></li>
                <li class="list-items"><a href="#" class="botones">Servicios</a></li>
                <li class="list-items"><a href="#" class="botones">Registros</a>
                    <ul class="botones-registros">
                        <li class="list-items"><a href="../FRONT/RegistroDueno.html">Registro Dueño </a>
                        <li class="list-items"><a href="../FRONT/RegistroMascota.html">Resgitro Mascota</a>
                        <li class="list-items"><a href="../FRONT/RegistroVeterinario.html">Registro Veterinario</a>

                    </ul>
                    </li>

                <li class="list-items"><a href="#" class="botones">Contáctenos</a> </li">
            </ul>

            <div class="logo">
                <img class="slogan" src="../FRONT/imgs/Mascota_Feliz_Logo.png" alt="logo">
            </div>
        </nav>
        <section class="registro">
            <div class="formulario">
                <h4>Formulario de Registro</h4>
                <input class="controls" type="text" name="datos" id="datos" placeholder=" ID">
                <input class="controls" type="text" name="nombre" id="nombre" placeholder=" Nombre">
                <input class="controls" type="text" name="apellidos" id="apellidos" placeholder=" Apellido">
                <input class="controls" type="text" name="direccion" id="dirección" placeholder=" Dirección">
                <input class="controls" type="text" name="telefono" id="telefono" placeholder=" Teléfono">
                <input class="controls" type="email" name="correo" id="correo" placeholder=" Correo">
                <p>Estoy de acuerdo con los términos y condiciones</p>
                <!-- <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span> -->
                <input class="boton" type="submit" value="Registrarse">
                <!-- </a> -->
                <p><a class="cuenta" href="#">Ya tengo cuenta</a></p>
            </div>
        </section>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2022 - MascotaFeliz.App.Frontend - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>
    
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    
        @RenderSection("Scripts", required: false)
</body>

</html>