* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {
    background: #a8ff78;
    background: -webkit-linear-gradient(to left, #78ffd6, #a8ff78);
    background: linear-gradient(to left, #78ffd6, #a8ff78);
    font-family: 'Poppins', sans-serif;

}

/*==> css index.html <==*/

/* ----------------------------------------------------------------------- */

/* section persona que trabajrá el banner */
header {
    text-align: right;
    padding: 25px 0;
    background-color: #645c20;
  
}
nav a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    margin: 0 30px;
    padding: 4px 12px;
    border-radius: 6px;

}
nav a:hover{
    background-color: #000;
    color: #fff;
}
.encabezado-img{
    background-color: #645c20;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.encabezado-img h1{
    font-size: 30px;
    padding: 20px 0;

}
.encabezado-img .img{
    font-size: 15px;
    border: solid 1px;
    text-decoration: none;    
    color: #000;
    
    letter-spacing: 2px;   
    padding: 4px 12px;
    border-radius: 6px;
        
}
.encabezado-img .img:hover{
    transition: 3s;
    background: linear-gradient(to left, #78ffd6, #a8ff78);
}




/* fin section persona que trabajrá el banner */

/* ----------------------------------------------------------------------- */

/* section  2 persona que trabajrapa wl video  */
/* fin section  2 persona que trabajará el video  */

/* ----------------------------------------------------------------------- */
/* section 3 persona que trabará el mapara y los datos de contacto */

/* fin section 3 persona que trabará el mapara y los datos de contacto */

/* ----------------------------------------------------------------------- */

/* ==> fin css index.html <== */
.registro {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    color: aliceblue;
    box-shadow: 7px 13px 37px #000;
}

.registro h4 {
    font-size: 24px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;

}

.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    border: 1px solid #a8ff78;
    font-size: 15px;
    color: aliceblue;
}

.registro p {
    height: 40px;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    color: aliceblue;

}


.registro .cuenta {
    color: #fff;
    margin: auto;
    font-size: 14px;
    text-decoration: none;
    border: none;

}



.registro .boton {
    width: 100%;
    background: linear-gradient(to left, #78ffd6, #a8ff78);
    border: none;
    padding: 12px;
    color: #000;
    margin: 16px 0;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: bold;

}

@media (hover: hover) {
    .boton:hover {
        color: rgba(255, 255, 255, 0.4);
        transition: 0.9s;
        border-color: #000;
    }
}