* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body {
    background: #a8ff78;
    background: -webkit-linear-gradient(to left, #78ffd6, #a8ff78);
    background: linear-gradient(to left, #78ffd6, #a8ff78);
    font-family: 'Poppins', sans-serif;

}

/*==> css index.html <==*/

/* ----------------------------------------------------------------------- */

/* section persona que trabajrá el banner */
header {
    text-align: right;
    padding: 25px 0;
    background-color: #5a5744;

}

.menu-list{
    margin-top: -10px;
    margin-right: 70px;
    text-align: right;

}
.menu-list > li{
    /* float: left; */
    /* right: 0; */
    display: inline-block;
}
.menu-list li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}

.menu-list li:hover > ul{
    display: block;
}
.list-items{
    display: block;
    list-style: none;
}
.botones{
    text-decoration: none;
    color: #fff;
    padding: 15px;
    font-size: 1.1rem;
    position: relative;

}
.botones::after{
    content: "";
    width: 0;
    height: 4px;
    background-color: #ef8354;
    position:absolute;
    bottom: 7px;
    right: 50%;
    transition: all .5s;
    will-change: width;

}
.botones:hover:after{
    width: 100%;
    right: 0;
}

.botones-registros a{
    
    color: #fff;
    text-decoration: none;
    float: left;
    
    margin: 7px 6px;
     /* margin-top: 7px; */
    /* padding-top: 4px;  */

    
}
.botones-registros:hover{
    background-color: #ef8354;
    transition: 0.7s;
    color: #000; 
    border-radius: 4px;
    
   
}
/* .botones-registros:hover a{
  
    color: #000; 
    
   
} */

.slogan {
    position: absolute;
    display: block;
    top: -1%;
    left: 0%;
    height: 150px;
}



.encabezado-img {
    
    background-color: #5a5744;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-repeat: no-repeat;
    
}
.encabezado-img img{
    position: absolute;
    display: inline;
    line-height: 0px;
    height: 350px;
    right: 0;
    top: 45px;
  
}
.encabezado-img .slice{
    position: absolute;
    width: 400px;
    left: 0;
    top: 210px;
}
.encabezado-img .slice2{
    width: 1920px;
    height: 27px;
    margin-bottom: 0;
    top: 541px;
    z-index: 1;
}
.perro{
    position: absolute;
    width: 350px;
    right: 0%;
    top:33%;
    z-index: 1;
    
    
    
}
.mascota2{
    position: absolute;
    width: 400px;
    right: 450px;
    top: 10px;
    
}
.encabezado-img h1 {
    font-size: 40px;
    padding: 30px 0;
    z-index: 1;  

/*==> css index.html <==*/

}


.encabezado-img .img {
    font-size: 20px;
    font-weight: bold;
    border: solid 1px;
    text-decoration: none;
    color: #000;
    letter-spacing: 1px;
    padding: 4px 12px;
    border-radius: 6px;

}


.encabezado-img .img:hover {
    transition: 0.5s;
    background: #ef8354;
}


/* ----------------------------------------------------------------------- */

/* section  2 persona que trabajrapa wl video  */
.video{
    background: linear-gradient(to right,#ef8354,#F6A126);
    position: relative;
    border-radius: 2px;
    
    

}

.video .s{
    border: solid 10px;
}

.video .burbujas{

    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #f3bf75;
    opacity: .10;

    position: absolute;
    bottom: -150;
    left: 5%;

    animation: burbujas 3s linear infinite ;
}

.burbujas:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.burbujas:nth-child(2){
    width: 60px;
    height: 60px;
    left: 15%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.burbujas:nth-child(3){
    width: 75px;
    height: 75px;
    left: 10%;
    animation-duration: 3s;
    animation-delay: 4s;
}

.burbujas:nth-child(4){
    width: 30px;
    height: 30px;
    left: 2%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbujas:nth-child(5){
    width: 40px;
    height: 40px;
    left: 22%;
    animation-duration: 3s;
    animation-delay: 2s;
}
.burbujas:nth-child(6){
    width: 80px;
    height: 80px;
    left: 70%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.burbujas:nth-child(7){
    width: 60px;
    height: 60px;
    left: 80%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.burbujas:nth-child(8){
    width: 75px;
    height: 75px;
    left: 90%;
    animation-duration: 3s;
    animation-delay: 4s;
}

.burbujas:nth-child(9){
    width: 30px;
    height: 30px;
    left: 100%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbujas:nth-child(10){
    width: 40px;
    height: 40px;
    left: 120%;
    animation-duration: 3s;
    animation-delay: 2s;
}


@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 65vh;
        opacity: 0;
    }

}


/* fin section  2 persona que trabajará el video  */

/* ----------------------------------------------------------------------- */
/* section 3 persona que trabará el mapara*/
/*Inicio estilo área de contacto*/
#contacto-izq{
    width: 1000px;
    height: 600px;
    /*background: #78ffd6;*/
    float: left;
    
    
}

#contacto-der{
    width: 850px;
    height: 500px;
    background: none;
    margin-top: 60px;
    float: left;
    font-size: 30px;
    margin-top: 30px;
    justify-content: center;
}

#mapa{
    width: 800px;
    height: 500px;
    margin-top: 60px;
    padding-left: 10px;
    margin-left: 500px;
}
.mapa h2{
    justify-content: center;
    font-size: 50px;
    margin-top: 600px;
    margin-bottom: 50px;
    letter-spacing: 1px;
    color: #000;
    text-align: center;
    font-weight: bold;

}
/*fin area de contacto*/


/* fin section 3 persona que trabará el mapara*/

/* fin section 3 persona que trabará el mapara y los datos de contacto */
.contactos{
    margin-top: 700px ;
    margin-left: 400px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.contactos h2{

    
    margin-bottom: 17px;
    

}
.contactos p{
    margin-bottom: 17px;
    margin-right: 30px ;
}
.contactos form  .campo, textarea{
    width: 80%;
    padding: 15px;
    font-size: 15px;
    margin-bottom: 20px;
    border: 1px solid ;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    
}
.contactos form textarea{
    max-width: 500px;
    min-width: 500px;
    min-height: 140px;
    max-height: 140px;
    font-family: 'Open Sans', sans-serif;
}
.contactos .boton{
    padding: 15px;
    font-size: 15px;
    outline: 0px;
    border: solid;
    border-radius: 3px;
    background: linear-gradient(to left, #78ffd6, #a8ff78);
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}


/* fin section 3 persona que trabará el mapara y los datos de contacto */

/* ----------------------------------------------------------------------- */

/* ==> fin css index.html <== */
.registro {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    color: aliceblue;
    box-shadow: 7px 13px 37px #000;
}

.registro h4 {
    font-size: 24px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;

}

.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    border: 1px solid #a8ff78;
    font-size: 15px;
    color: aliceblue;
}
.formulario{
    width: 100%;
    margin: auto;
  
}
.registro p {
    height: 40px;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    color: aliceblue;

}


.registro .cuenta {
    color: #fff;
    margin: auto;
    font-size: 14px;
    text-decoration: none;
    border: none;

}



.registro .boton {
    width: 100%;
    background: linear-gradient(to left, #78ffd6, #a8ff78);
    border: none;
    padding: 12px;
    color: #000;
    margin: 16px 0;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: bold;

}

@media (hover: hover) {
    .boton:hover {
        color: rgba(255, 255, 255, 0.4);
        transition: 0.9s;
        border-color: #000;
    }
}
/* Estilos de consultar lista de todas las mascotas */
.consulta {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    box-shadow: 7px 13px 37px #000;
    }
    
    .consulta h2 {
    font-size: 24px;
    margin-bottom: 20px;
    }
    
    .consulta .boton {
    width: 100%;
    background: #a8ff78;
    background: -webkit-linear-gradient(to left, #78ffd6, #a8ff78);
    background: linear-gradient(to left, #78ffd6, #a8ff78);
    border: none;
    padding: 12px;
    color: black;
    font-size: 18px;
    cursor: pointer;
    }

/* Estilos de consultar mascota */
.form-register12{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    color: aliceblue;
    box-shadow: 7px 13px 37px #000;
}
 
.form-register12 h4 {
    font-size: 24px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
}
 
.controlis{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    border: 1px solid #a8ff78;
    font-size: 15px;
    color: aliceblue;
 
}
 
.form-register12 p{
 
    height: 40px;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    color: aliceblue;
 
}
 
.form-register12 a{
    color: #fff;
    margin: auto;
    font-size: 14px;
    text-decoration: none;
    border: none;
 
}
 
.form-register12 a:hover{
    color: white;
    text-decoration: underline;
 
}
 
.form-register12 .botons {
    width: 100%;
    background: linear-gradient(to left, #78ffd6, #a8ff78);
    border: none;
    padding: 12px;
    color: #000;
    margin: 16px 0;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: bold;
    
 
}
    
.perromid{
  width: 1px;
  height: 2px;
  align-items: baseline;
  padding-block-start: 0%;
}