<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mascota Feliz </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Estilos.css" />


</head>

<body>
    <!-- persona que trabajará en el banner estará en esta section -->
    <header>
        <nav class="nav">
            <ul class="menu-list">
                <li class="list-items"><a href="#" class="botones">Inicio</a></li>
                <li class="list-items"><a href="#" class="botones">Servicios</a></li>
                <li class="list-items"><a href="#" class="botones">Registros</a>
                    <ul class="botones-registros">
                        <li class="list-items"><a class="sub-items" href="~/Registros/RegistroDueno.html">Registro Dueño </a>
                        <li class="list-items"><a class="sub-items" href="~/Registros/RegistroMascota.html">Resgitro Mascota</a>
                        <li class="list-items"><a class="sub-items" href="~/Registros/RegistroVeterinario.html">Registro Veterinario</a>

                    </ul>
                </li>
                <li class="list-items"><a href="#" class="botones">Admin</a>
                    <ul class="botones-registros">
                        <li class="list-items"><a class="sub-items" href="../FRONT/RegistroDueno.html">Ver Dueño </a>
                        <li class="list-items"><a class="sub-items" href="../FRONT/RegistroMascota.html">Ver Mascota</a>
                        <li class="list-items"><a class="sub-items" href="../FRONT/RegistroVeterinario.html">Ver Veterinario</a>

                    </ul>
                </li>

                @* <li class="list-items"><a href="#" class="botones">Contáctenos</a> </li> *@
            </ul>

            <div class="logo">
                <img class="slogan" src="~/imgs/Mascota_Feliz_Logo.png" alt="logo">
            </div>
            <div class="mascota">
                <img class="perro" src="~/imgs/perro-gato.png" alt="Mascotica">
            </div>
            <div class="mascota12">
                <img class="mascota2" src="~/imgs/fon.png" alt="">
            </div>

        </nav>
    </header>
    <section class="banner">

        <div class="encabezado-img">
            <!-- <img src="../FRONT/imgs/fon.png" alt=""> -->
            <img class="slice" src="~/imgs/slice.png" alt="">
            <img class="slice2" src="~/imgs/slider-background-1.png" alt="">
            <!-- <img class="mascota" src="../FRONT/imgs/slider-img-1.png" alt=""> -->
            <h1>Tú médico veterinario en Casa</h1>

            <a class="img" href="#">contacto</a>
        </div>
    </section>
    <section class="video">
        <center><video src="video/video final.mp4" autoplay muted loop width="640" height="480"></video></center>
        <mov class="burbujas"></mov>
        <mov class="burbujas"></mov>
        <mov class="burbujas"></mov>
        <mov class="burbujas"></mov>
        <mov class="burbujas"></mov>
        <mov class="burbujas"></mov>
        <mov class="burbujas"></mov>
        <mov class="burbujas"></mov>
        <mov class="burbujas"></mov>


    </section>
    <section class="mapa">
        <div class="contenedor last-section"></div>

        <h2 class="titulo section">Visítanos</h2>
        <div id="contacto-izq">
            <p></p>
            <div id="mapa">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63630.951311253964!2d-74.09054518100845!3d4.605757448793486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f99bfd2a459a9%3A0x352a5134b65e607b!2sMonserrate!5e0!3m2!1ses!2spa!4v1662143537268!5m2!1ses!2spa"
                    width="900" height="500" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

        </div>
        <div id="contacto-der">
            <!-- <div class="icon_holder " style=" "><img itemprop="image" style="" src="https://bridge205.qodeinteractive.com/wp-content/uploads/2018/03/h1-img-6.png" alt=""></div>
            <p>Estamos en la Carrera 2da. Este No. 21 - 48, Paseo de Bolívar, Bogotá</p>   -->
        </div>
    </section>
    <!--  persona que trabajará en el mapa aqui   -->




    <section class="contactos">

        <div>
            <h2>Contáctanos</h2>
            <p>Cualquier consulta o solicitud de información específica,
                con mucho gusto lo ayudaremos </p>
            <i class="fa-solid fa-phone"> 123-345-789</i> <br><br>
            <i class="fa-solid fa-location-dot">Av 2Bis N 12-34 B Desconocido </i><br><br>
            <i class="fa-solid fa-clock"> Lunes a viernes de 7 AM a 5 PM</i><br><br>


        </div>
        <form>
            <input type="text" name="nombre" placeholder="Ingresa tu nombre" class="campo">
            <input type="text" name="email" placeholder="Ingresa tu correo" class="campo">
            <textarea name="mensaje" placeholder="Escribe tu mensaje"></textarea>
            <input type="submit" name="enviar" value="Enviar mensaje" class="boton">
        </form>

    </section>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - MascotaFeliz.App.Frontend - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>
