<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mascota Feliz </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Estilos.css">


</head>

<body>
    <!-- persona que trabajará en el banner estará en esta section -->
    <header>
        <nav class="nav">
            <ul class="menu-list">
                <li class="list-items"><a  asp-area=""  asp-page="/Duenos/ListaDuenos" id="botones">Inicio</a>
                <li class="list-items"><a asp-area=""  asp-page="/Duenos/ListaDuenos" id="botones">Dueños</a>
                <li class="list-items"><a asp-area=""  asp-page="/Mascotas/ListaMascotas" id="botones">Mascota</a>
                <li class="list-items"><a asp-area=""  asp-page="/Veterinarios/ListaVeterinarios" id="botones">Veterinario</a>
                        

                </li>

            </ul>
              <div class="logo">
                <img class="slogan" src="~/imgs/Mascota_Feliz_Logo.png" alt="logo">
            </div>

        </nav>
    </header>
            </section>
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

            <footer class="border-top footer text-muted">
                <div class="container">
                    &copy; 2022 - MascotaFeliz.App.Frontend - <a asp-area="" asp-page="/Privacy">Privacy</a>
                </div>
            </footer>

            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>

            @RenderSection("Scripts", required: false)
</body>

</html>
