* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

/* body {
    background:  #78ffd6;
    background: -webkit-linear-gradient(to left, #78ffd6, #a8ff78);
    background: linear-gradient(to left, #78ffd6, #a8ff78);
    font-family: 'Poppins', sans-serif;

} */

/*==> css index.html <==*/

/* ----------------------------------------------------------------------- */


 header  {
    text-align: right;
    padding: 25px 0;
    background-color: #5a5744;    

}

.menu-list{
    margin-top: -10px;
    margin-left: 810px;
    text-align: right;

}
.menu-list > li{
    /* float: left;  */
     right: 0; 
     display: inline-block;
}


#botones{
    text-decoration: none;
    color: #fff;
    padding: 15px;
    font-size: 1.1rem;
    position: relative;
    
}  
    #botones::after{
    content: "";
    
    width: 0;
    height: 4px;
    background-color: #ef8354;
    position:absolute;
    bottom: 7px;
    right: 50%;
    transition: all .5s;
    will-change: width;

}

#botones:hover{
  
    font-weight: bold;
    color: #fff; 
}
#botones:hover:after{
    width: 100%;
    right: 0;
    text-decoration: none;
}

.slogan {
    position: absolute;
    display: block;
    top: -1%;
    left: 0%;
    height: 150px;
}


/* //////////////////////////////////////////////////////////
            manipulando tablas
////////////////////////////////////////////////////////// */
.propietarios{
    margin: 40px;
    text-align: center;
}
.table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 7px 7px 0 0;
    overflow: hidden;
    box-shadow: 0 0 40px rgba(0, 0, 0, 1,15);
}

.table thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}
.table th,
.table td{
    padding: 10px 10px;
    text-align: center;
}

.table tbody tr{
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}

/* .table tbody tr.active-row{
    font-weight: bold;
    color: #009879;
} */

/* Bontones volver al listado  */

.btn-listado{

    font-size: 14px;
    font-weight: bold;
    border: solid 1px;
    text-decoration: none;
    color: #000;
    letter-spacing: 0.5px;
    padding: 4px 12px;
    border-radius: 6px;
}
.btn-listado:hover{
    text-decoration: none;
    background: #009879;
    transition: 0.7s;
    color: #fff;

}

/* index cshtml */
.text-center{
    display: absolute;
    color: #ef8354;
    margin-top: 100px;
}
#particles-js{
   
    margin-top: 67px;
    height: 100%;
    position: fixed;
    
}

/* //formulario de registro dueño */
.registro {
    position: absolute;
    opacity: 0.9;
    left: 120px;
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    color: aliceblue;
    box-shadow: 7px 13px 37px #000;
}
.formulario{
    width: 100%;
    margin: auto;
  
}
.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    border: 1px solid #a8ff78;
    font-size: 15px;
    color: aliceblue;
}

.registro .boton {
    width: 100%;
    background: linear-gradient(to left, #78ffd6, #a8ff78);
    border: none;
    padding: 12px;
    color: #000;
    margin: 16px 0;
    font-size: 20px;
    letter-spacing: 0.5px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: bold;

}
.registro .cuenta {
    color: #fff;
    margin: auto;
    font-size: 14px;
    text-decoration: none;
    border: none;

}

#dueno, #veterinario{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    border: 1px solid #a8ff78;
    font-size: 15px bold;
    color: aliceblue;
}
#video-slow{
    right: 0;
    text-align: right;
    
}
.slow1{
    margin-top: 70px;
}
/* //////////////// back ground editar dueños mascota y veterinario//////////////// */
.Back{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
}

.Back_paginadueno{
    
    background-image: linear-gradient( 109.6deg,  rgba(5,84,94,1) 16%, #bbb 91.1% );

}
.Back_veterinario{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(162,102,246,1) 0%, rgba(203,159,249,1) 90% );
}

